*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    align-items: center;
}
.navbar_in{
    width: 90%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}